<section class="container text-center" style="margin-top: 7rem;" id="perfil">
    <div>
      <div class="container mt-3">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-11 mt-5">
            <h2>Perfil: {{usuario.nombre}} {{usuario.apellido}}</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <table class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Clave</th>
                  <th scope="col" class="text-center">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Nombre</td>
                  <td class="text-center">{{usuario.nombre}}</td>
                </tr>
                <tr>
                  <td class="text-center">Apellido</td>
                  <td class="text-center">{{usuario.apellido}}</td>
                </tr>
                <tr>
                  <td class="text-center">Email</td>
                  <td class="text-center">{{usuario.email}}</td>
                </tr>
                <tr>
                  <td class="text-center">Telefono</td>
                  <td class="text-center">{{usuario.telefono}}</td>
                </tr>
                <tr>
                  <td class="text-center">Dni</td>
                  <td class="text-center">{{usuario.dni}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn btn-primary mb-3" (click)="usuarioEditar(usuario)" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal">Editar Perfil<i class="fa-solid fa-pen-to-square"></i></button>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-outline-primary" routerLink="/home"  (click)="cerrarSesion()">Cerrar sesión</a>
      </div>


      <div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <!-- Formulario para editar un usuario -->
                  <form>
                      <div class="mb-3">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuarioaEdi.nombre">
                      </div>
                      <div class="mb-3">
                          <label for="apellido" class="form-label">Apellido</label>
                          <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuarioaEdi.apellido">
                      </div>
                     
                      
                      <div class="mb-3">
                          <label for="telefono" class="form-label">Teléfono</label>
                          <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="usuarioaEdi.telefono">
                      </div>
    
                    <div class="mb-3">
                      <label for="dni" class="form-label">Dni</label>
                      <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="usuarioaEdi.dni">
                    </div>

                    <div class="mb-3">
                      <button type="button" class="btn btn-primary" (click)="BotonContrasena()">Cambiar contraseña</button>
                    </div>
                    <div *ngIf="mostrarContrasena" class="mb-3">
                      <label for="contraseña" class="form-label">Contraseña</label>
                      <input type="text" class="form-control" id="contraseña" name="contraseña" [(ngModel)]="usuarioaEdi.contrasena">
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary btn-success" (click)="editarUsuario()" data-bs-dismiss="modal">Guardar</button>
              </div>
          </div>
      </div>
  </div>
