<app-nav-alumno></app-nav-alumno>
<section style="padding: 0; margin-top: 5rem;" >
    <div class="row" style="margin-top: 7rem;">
        <div class="col-md-8 d-flex justify-content-center text-center align-items-center">
            <div class="container ">
                <div class="row d-flex justify-content-center text-center align-items-center">
                    <h3 class="">Cronograma</h3>
                    <div class="col-11 table-responsive mt-3" style="max-height: 15rem; overflow-y: auto;">
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Planificacion</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Profesor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Planificacion 1</td>
                                    <td>10-05-2023</td>
                                    <td>Juan Moreno</td>
                                </tr>
                                <tr>
                                    <td>Planificacion 2</td>
                                    <td>06-03-2023</td>
                                    <td>Javier Machado</td>
                                </tr>
                                <tr>
                                    <td>Planificacion 3</td>
                                    <td>25-12-2022</td>
                                    <td>Ezequiel Muñoz</td>
                                </tr>
                                <tr>
                                    <td>Planificacion 4</td>
                                    <td>14-06-2022</td>
                                    <td>Javier Machado</td>
                                </tr>
                                <tr>
                                    <td>Planificacion 3</td>
                                    <td>25-12-2022</td>
                                    <td>Ezequiel Muñoz</td>
                                </tr>
                                <tr>
                                    <td>Planificacion 4</td>
                                    <td>14-06-2022</td>
                                    <td>Javier Machado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto justify-content-center align-items-center d-flex">
            <div class="container mx-auto d-flex justify-content-center">
                <img src="assets/imagenes/1" alt="Una imagen de ejemplo" class="img-fluid img-size align-self-end border border-primary border-2" style="max-height: 20rem; margin-top: 5rem;" />
            </div>
        </div>
    </div>
</section>
<app-frases></app-frases>
<app-footer></app-footer>
