<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="index.html"><img src="assets/imagenes/logo.png" style="max-height: 2.7em;"
                alt="Fit Club"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item "><a class="text-decoration-none" href="alumnoCronograma.html"><h5>Cronograma</h5></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="text-decoration-none"
                        href="alumnoPlanificaciones.html"><h5>Planificaciones</h5></a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="alumnoPerfil.html"><button class="btn btn-primary"
                            type="submit">Perfil</button></a></li>
            </ul>
        </div>
    </div>
</nav>
  <section class="container text-center" style="margin-top: 7rem;" id="perfil">
    <div>
      <div class="container mt-3">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-11">
            <h2>Perfil Alumno: Tiago Licciardi</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <table class="table table-bordered table-striped table-responsive">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Clave</th>
                  <th scope="col" class="text-center">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Nombre</td>
                  <td class="text-center">Tiago</td>
                </tr>
                <tr>
                  <td class="text-center">Apellido</td>
                  <td class="text-center">Licciardi</td>
                </tr>
                <tr>
                  <td class="text-center">Email</td>
                  <td class="text-center">xxxx1@alumno.com</td>
                </tr>
                <tr>
                  <td class="text-center">Telefono</td>
                  <td class="text-center">2619282121</td>
                </tr>
                <tr>
                  <td class="text-center">Dni</td>
                  <td class="text-center">42821903</td>
                </tr>
                <tr>
                  <td class="text-center">Nro_Socio</td>
                  <td class="text-center">1</td>
                </tr>
                <tr>
                  <td class="text-center">Contraseña</td>
                  <td class="text-center">****</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center">
        <a routerLink="/alumno_perfil_modif"><button class="btn btn-outline-success mx-2 ">Editar</button></a>
        <a routerLink="/#perfil" style="color: green;">Cambiar contraseña</a>
      </div>
    </div>
  </section>
  <section class="container text-center" style="margin-top: 3rem;">
      <div class="row d-flex justify-content-center text-center">
        <h3>Entrena fuerte!</h3>
        <div class= "d-flex justify-content-center text-center">
          <p class="text-center" style="width: 75%;">Entrenar en el gimnasio no es solo una actividad física, es una inversión en tu salud y bienestar en
            general. Los beneficios van más allá de la apariencia física y se extienden a tu mente, cuerpo y calidad
            de vida en general. ¡Así que adelante, ponte en movimiento y disfruta de los innumerables beneficios que
            el gimnasio tiene para ofrecer.</p>
      </div>
  <footer class="bg-light py-5 fixed-bottom">
    <div class="container px-4 px-lg-5">
      <div class="small text-center text-muted">Copyright &copy; 2023 - Fit Club</div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
