<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/home" target="_blank"><img src="assets/imagenes/logo.png" style="max-height: 2.7em;"
                alt="Fit Club"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item "><a class="text-decoration-none" routerLink="/admin"><h5>Inicio</h5></a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item "><a class="text-decoration-none" routerLink="/admin_alumno"><h5>Permisos</h5></a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"> <a class="btn btn-outline-primary" routerLink="/home"  (click)="cerrarSesion()">Cerrar sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
