<!-- <app-nav-regis-admin></app-nav-regis-admin> -->
<nav class="navbar navbar-expand-lg navbar-light  py-3"  id="mainNav" style="background: transparent;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/home"><img src="assets/imagenes/logo.png" style="max-height: 2.7em;"
                alt="Fit Club"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/home" style="color: #f4623a;">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-bottom: 20px;"></div>

<!-- Contact-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-5 gx-lg-6 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Iniciar sesión</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">¿Ya tienes cuenta? ¡Inicia sesión!</p>
                <a routerLink ="/login"><button class="btn btn-primary btn-xl" id="submitButton">Inicia
                        sesión</button></a>
                <p class="text-muted mb-5"></p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Registrarse</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">¿No tienes cuenta? ¡Registrate en Fit Club!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
              <form [formGroup]="registerForm">
                <!-- Nombre -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="text" formControlName="nombre" placeholder="Enter your name..." />
                  <label for="name">Nombre</label>
                </div>
                <!-- Apellido -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="text" formControlName="apellido" placeholder="Enter your name..." />
                  <label for="name">Apellido</label>
                </div>
                <!-- Email -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="email" formControlName="email" placeholder="name@example.com" />
                  <label for="email">Mail</label>
                </div>
                <!-- Contraseña -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="password" formControlName="contraseña" placeholder="" />
                  <label for="Password">Contraseña</label>
                </div>
                <!-- Teléfono -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="tel" formControlName="telefono" placeholder="" />
                  <label for="telefono">Telefono</label>
                </div>
                <!-- DNI -->
                <div class="form-floating mb-3">
                  <input class="form-control" type="text" formControlName="dni" placeholder="" />
                  <label for="DNI">DNI</label>
                </div>
                <!-- Submit Button -->
                <div class="d-grid">
                  <button class="btn btn-primary btn-xl" type="button" (click)="submit()">Iniciar</button>
                </div>
              </form>
            </div>
          </div>          
    </div>
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2023 - Fit Club</div>
        </div>
    </footer>
<!-- <app-footer>
</app-footer> -->
