<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" routerLink="/home"><img src="assets/imagenes/logo.png" style="max-height: 2.7em;"
                alt="Fit Club"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="text-decoration-none"
                        rouerLink="/profesor_planificaciones"><h5>Planificaciones</h5></a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a routerLink="/profesor_perfil"><button class="btn btn-primary"
                            type="submit">Perfil</button></a></li>
            </ul>
        </div>
    </div>
</nav>

<section style="padding: 0; margin-top: 5rem;" >
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <h2 class="text-center mt-2 mb-3">Planificación: Tiago Licciardi</h2>
                    </div>
                    <div class="container col-11">
                        <ul class="nav nav justify-content-center align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Lunes</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Martes</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Miércoles</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Jueves</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Viernes</h5></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="#"><h5>Sábado</h5></a>
                            </li>
                        </ul>
                    </div>
                    <div class="container col-11">
                        <ul class="nav nav justify-content-center align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/profesor_planificaciones"><button
                                        class="btn btn-primary">Volver</button></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/profesor_planificacion_particular_editar"><button
                                        class="btn btn-primary">Editar</button></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-11 table-responsive" style="max-height: 15rem; overflow-y: auto;">
                        <table class="table table-striped table-bordered text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Ejercicio</th>
                                    <th scope="col">Series</th>
                                    <th scope="col">Repeticiones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Press de banca c/barra banco plano</td>
                                    <td>4</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Press de banca c/barra banco inclinado</td>
                                    <td>4</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Cruce de poleas para pecho</td>
                                    <td>3</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Fondo de tríceps</td>
                                    <td>3</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Tríceps francés</td>
                                    <td>4</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Flexiones de brazo diamante</td>
                                    <td>3</td>
                                    <td>Al fallo</td>
                                </tr>
                                <tr>
                                    <td>Fondo de tríceps</td>
                                    <td>3</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Tríceps francés</td>
                                    <td>4</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>Flexiones de brazo diamante</td>
                                    <td>3</td>
                                    <td>Al fallo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mx-auto justify-content-center align-items-center d-flex">
            <div class="container mx-auto d-flex justify-content-center">
                <img src="assets/imagenes/1" alt="Una imagen de ejemplo" class="img-fluid img-size align-self-end border border-primary border-2" style="max-height: 20rem; margin-top: 10rem;" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row" style="height: 50vh;">
        <div class="col-md-8">
            <div class="container-fluid text-center">
                    <div class="col-9 mx-auto">
                        <h3 class="text-center mt-2">Entrena fuerte!</h3>
                        <p class="mx-auto mt-2">Entrenar en el gimnasio no es solo una actividad física, es una
                            inversión en tu salud y bienestar en general. Los beneficios van más allá de la
                            apariencia física y se extienden a tu mente, cuerpo y calidad de vida en general. ¡Así
                            que adelante, ponte en movimiento y disfruta de los innumerables beneficios que el
                            gimnasio tiene para ofrecer</p>
                    </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="text-center mb-3">
                    <div class="col-12 mx-auto" style="margin-bottom: 5rem;">
                        <h3 class="text-center mt-2">Cumplí tus objetivos!</h3>
                        <p class="mt-2 px-1">"El éxito en el gimnasio comienza con la voluntad de intentarlo una vez
                            más." Los beneficios van más allá de la apariencia física y se extienden a tu mente,
                            cuerpo y calidad de vida en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-light py-4 fixed-bottom">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2023 - Fit Club</div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
