<section class="mt-2">
    <div class="row">
        <div class="col-md-8">
            <div class="container-fluid">
                <div class="text-center">
                    <div class="col-9 mx-auto">
                        <h3 class="text-center mt-2">Entrena fuerte!</h3>
                        <p class="mx-auto mt-2">Entrenar en el gimnasio no es solo una actividad física, es una
                            inversión en tu salud y bienestar en general. Los beneficios van más allá de la
                            apariencia física y se extienden a tu mente, cuerpo y calidad de vida en general. ¡Así
                            que adelante, ponte en movimiento y disfruta de los innumerables beneficios que el
                            gimnasio tiene para ofrecer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="text-center mb-3">
                    <div class="col-12 mx-auto" style="margin-bottom: 5rem;">
                        <h3 class="text-center mt-2">Cumplí tus objetivos!</h3>
                        <p class="mt-2 px-1">"El éxito en el gimnasio comienza con la voluntad de intentarlo una vez
                            más." Los beneficios van más allá de la apariencia física y se extienden a tu mente,
                            cuerpo y calidad de vida en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>