<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 5rem;">
            <h2 class="text-center mb-4">Lista de Usuarios</h2>
            <div class="mb-3">
            </div>
            <!-- <div class="d-flex mb-3">
                <input type="text" class="form-control me-2 flex-grow-1" placeholder="Buscar usuario...">
                <button class="btn btn-outline-primary" type="button">BUSCAR<i class="fa-solid fa-magnifying-glass"></i></button>
                 <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#nuevoUsuarioModal">
                    <i class="fa-solid fa-plus"></i>
                </button> -->
                <!-- <a class="btn btn-primary ms-2" routerLink="/usuario/null/Alta">
                  <i class="fa-solid fa-plus"></i>
                </a> 
            </div> -->
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Crear</th>
                    

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of arrayUsuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.rol}}</td>
                        <!-- <a type="button" *ngIf="selectedRole === 'admin'" (click)="saveDni(user)" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal"><i class="fa-solid fa-pen-to-square text-white"></i></a> -->
                        <td><button class="btn btn-primary btn-sm me-2" (click)="planificacionaCrear(usuario.id)" data-bs-toggle="modal" data-bs-target="#CrearPlanificacionModal">Crear<i class="fa-solid fa-pen-to-square"></i></button></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <button (click)="loadPreviousPage()" class="btn btn-primary me-2" [disabled]="currentPage === 1" style="margin-top: -70px;">Página anterior</button>
        <button (click)="loadNextPage()" class="btn btn-primary" [disabled]="currentPage === totalPages" style="margin-top: -70px;">Página siguiente</button>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="CrearPlanificacionModal" tabindex="-1" aria-labelledby="CrearPlanificacionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CrearPlanificacion">Crear planificacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para crear una planificacion -->
                <form>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="datetime" class="form-control" placeholder="dd/mm/yyyy" id="fecha" name="fecha" [(ngModel)]="planificacion.fecha">
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <input type="text" class="form-control" id="tipo" name="tipo" [(ngModel)]="planificacion.tipo">
                    </div>
                    <div class="mb-3">
                        <label for="lunes" class="form-label">Lunes</label>
                        <textarea class="form-control" id="lunes" name="lunes" [(ngModel)]="planificacion.lunes"></textarea>
                    </div>
                    
                    <div class="mb-3">
                        <label for="martes" class="form-label">Martes</label>
                        <textarea class="form-control" id="martes" name="martes" [(ngModel)]="planificacion.martes"></textarea>
                    </div>
                    <div class="mb-3">
                      <label for="miercoles" class="form-label">Miercoles</label>
                      <textarea class="form-control" id="miercoles" name="miercoles"[(ngModel)]="planificacion.miercoles" ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="jueves" class="form-label">Jueves</label>
                    <textarea class="form-control" id="jueves" name="jueves" [(ngModel)]="planificacion.jueves" ></textarea>
                </div>
                <div class="mb-3">
                    <label for="viernes" class="form-label">Viernes</label>
                    <textarea class="form-control" id="viernes" name="viernes" [(ngModel)]="planificacion.viernes"></textarea>
                </div>
                <div class="mb-3">
                    <label for="sabado" class="form-label">Sabado</label>
                    <textarea class="form-control" id="sabado" name="sabado" [(ngModel)]="planificacion.sabado"></textarea>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-success" (click)="crearPlanificacion()" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>