<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2" style="padding-bottom: 5rem;">
            <h2 class="text-center mb-4">Lista de Usuarios</h2>
            <div class="mb-3">
            <button class="btn btn-primary btn-sm me-2" (click)="Reiniciar()">Reiniciar<i class="fa-solid fa-pen-to-square"></i></button>
            </div>
            <!-- <div class="d-flex mb-3">
                <input type="text" class="form-control me-2 flex-grow-1" placeholder="Buscar usuario...">
                <button class="btn btn-outline-primary" type="button">BUSCAR<i class="fa-solid fa-magnifying-glass"></i></button>
                 <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#nuevoUsuarioModal">
                    <i class="fa-solid fa-plus"></i>
                </button> -->
                <!-- <a class="btn btn-primary ms-2" routerLink="/usuario/null/Alta">
                  <i class="fa-solid fa-plus"></i>
                </a> 
            </div> -->
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Crear</th>
                    

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of arrayUsuarios">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.apellido}}</td>
                        <td>{{usuario.rol}}</td>
                        <!-- <a type="button" *ngIf="selectedRole === 'admin'" (click)="saveDni(user)" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal"><i class="fa-solid fa-pen-to-square text-white"></i></a> -->
                        <td><button class="btn btn-primary btn-sm me-2" (click)="usuarioEditar(usuario)" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal">Crear<i class="fa-solid fa-pen-to-square"></i></button></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <button (click)="loadPreviousPage()" class="btn btn-primary me-2" [disabled]="currentPage === 1" style="margin-top: -70px;">Página anterior</button>
        <button (click)="loadNextPage()" class="btn btn-primary" [disabled]="currentPage === totalPages" style="margin-top: -70px;">Página siguiente</button>
      </div>
    </div>
  </div>
  
  <!-- <div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="rol" class="form-label">rol</label>
                        <input type="text" class="form-control" id="rol" name="id" [(ngModel)]="usuarioaEdi.rol">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuarioaEdi.nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuarioaEdi.apellido">
                    </div>
                    <div class="mb-3">
                        <label for="contraseña" class="form-label">contraseña</label>
                        <input type="text" class="form-control" id="contraseña" name="contraseña" [(ngModel)]="usuarioaEdi.contrasena">
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">telefono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="usuarioaEdi.telefono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="editarUsuario()" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
  </div> -->
  <div class="modal fade" id="editarUsuarioModal" tabindex="-1" aria-labelledby="editarUsuarioModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarUsuarioModalLabel">Editar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario para editar un usuario -->
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuarioaEdi.nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="usuarioaEdi.apellido">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuarioaEdi.email">
                    </div>
                    
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="usuarioaEdi.telefono">
                    </div>
                    <div class="mb-3">
                      <label for="rol" class="form-label">Rol</label>
                      <input type="text" class="form-control" id="rol" name="rol" [(ngModel)]="usuarioaEdi.rol">
                  </div>
                  <div class="mb-3">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" id="contraseña" name="contraseña" [(ngModel)]="usuarioaEdi.contrasena">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary btn-success" (click)="editarUsuario()" data-bs-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>